
@{
    ViewBag.Title = "Insufficient Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container-fluid">
        <div class="row panel-body">
            <div class="col-md-12">
                <h1>You are not allowed to access this page due to insufficient permissions. Please contact your system's administrator.</h1>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    </script>