@model VITAP.ViewModels.TransHist.InvoiceDescriptionModel

<div class="pad10" style="width:100%;">
    Description:<br />
    @Html.DisplayFor(x => x.Description, new { @class = "textAreaElastic" })
</div>
