@model VITAP.ViewModels.TransHist.PaymentAuthorizationDisbursementDescriptionModel
@using (Html.BeginForm())
{
	<div class="pad10" style="width:100%;">
		Description:<br />
		@Html.DisplayFor(x => x.Description)
	</div>
}
