@model VITAP.ViewModels.TransHist.EDIInvoiceDetailModel
@using (Html.BeginForm())
{
    <div class="pad10">
        @{
            Html.Kendo().Grid<VITAP.ViewModels.TransHist.EDIInvoiceDetailModel>()
                .Name("gridEdiInvoiceDetail")
                 .DataSource(dataSource => dataSource
                .Ajax()
                .Aggregates(aggr =>
                {
                    //example
                    //aggr.Add(p => p.Reject).Sum();
                }
                )
                .Read(r => r
                    .Action("EDIInvoiceDetailRecords", "TransHist")
                    .Data("GetSearchParametersEDIDetail")
                )
            )
                .Columns(columns =>
                {
                    columns.Bound(x => x.ShipDate);
                    columns.Bound(x => x.Quantity);
                    columns.Bound(x => x.UnitIssue);
                    columns.Bound(x => x.UnitPrice);
                    columns.Bound(x => x.Total);
                })
                  .Resizable(r => r.Columns(true))
                .Pageable(pageable => pageable
                    .Input(true)
                    .Numeric(false)
                    .PageSizes(new object[] { 10, 20, 50, 100, 200, 500, 1000 })
                )
                  .ToolBar(tools => tools.Excel())
                .Excel(excel => excel
                    .FileName("EDI_Invoice_Detail_Summary.xlsx")
                    .ProxyURL(Url.Action("Excel_Export_Save", "VitapBase", "Grid"))
                    .AllPages(true)
                )
                .Render();
        }

    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            MakeKendoGridScrollable('gridEdiInvoiceDetail', '600px');
            ConfigureKendoGridPaginationControlsFor508('gridEdiInvoiceDetail');
        });

        function GetSearchParametersEDIDetail() {

            return {
                BKEY: $("#BKEY").val()
            };
        }

        function btnSearchOnClick() {
            $('#gridEdiInvoiceDetail').data("kendoGrid").dataSource.read();
        }
    </script>
}
