<div class="controls">
    <button type="submit" disabled>List POs</button>
    <button type="submit" disabled>List RRs</button>
    <button type="submit" disabled>List Invs</button>
    <button type="submit" disabled>List EAs</button>
    <button type="submit" disabled>List PAs</button>
    <button type="submit" disabled>Contact</button>
    <button type="submit" disabled>MISC</button>
    <button type="submit" disabled style="margin-bottom: 2px;">Overview</button>
    <br />
    <button type="submit" disabled>
        View PO
    </button>
    <button type="submit" disabled>
        View RR
    </button>
    <button type="submit" disabled>
        View Invs
    </button>
    <button type="submit" disabled>
        View EAs
    </button>
    <button type="submit" disabled>
        View EAs
    </button>
    <button type="submit" disabled>Summ Notes</button>
    <button type="submit" disabled>Match</button>
    <button type="submit" disabled>Open Items</button>
</div>
