<div class="controls">
    <button type="submit">List POs</button>
    <button type="submit">List RRs</button>
    <button type="submit">List Invs</button>
    <button type="submit">List EAs</button>
    <button type="submit">List PAs</button>
    <button type="submit">Contact</button>
    <button type="submit">MISC</button>
    <button type="submit" style="margin-bottom: 2px;">Overview</button>
    <br />
    <button type="submit" disabled>
        View PO
    </button>
    <button type="submit" disabled>
        View RR
    </button>
    <button type="submit" disabled>
        View Invs
    </button>
    <button type="submit" disabled>
        View EAs
    </button>
    <button type="submit" disabled>
        View EAs
    </button>
    <button type="submit">Summ Notes</button>
    <button type="submit">Match</button>
    <button type="submit">Open Items</button>
</div>
